.headerContainer {
	width:100%;
	height: 15vh;
	background-color: green;
	display:flex;
	flex-direction: column;
	text-align: center;
	justify-content: center;
}
.headerContainer h1 {
	color: white;
	padding:12px;
}
.headerContainer p {
	color: lightblue;
}